@model IEnumerable<testuser.Models.SysModel.tblCasos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-blue-gradient shadow">
            <span class="info-box-icon"><i class="fa fa-users"></i></span>

            <div class="info-box-content">
                <span class="info-box-text"><strong>Casos</strong></span>
                <span class="info-box-number">@ViewBag.Cliente</span>

                <div class="progress">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
                <span class="progress-description">
                    <strong>Total registrados</strong>
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title text-info"><strong>Listado de "Casos" </strong></h4>

                <div class="box-tools">
                    <form action="Index" method="post">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="txtBuscar" class="form-control pull-right" placeholder="Buscar">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-body table-responsive">
                <p>
                    @Html.ActionLink("Nuevo registro", "Create",new { },new { @class="btn bg-navy"})
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.tblCategorias.Nombre_Categoria)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tblClientes.Nombres)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tblDepartamentos.Departamento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tblEstadosCasos.Id_EstadoCaso)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tblJuzgados.Juzgado)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tblMunicipios.Municipio)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Titulo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Numero_Caso)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha_Inicio)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha_Audiencia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha_Agregado)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.tblCategorias.Nombre_Categoria)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tblClientes.Nombres)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tblDepartamentos.Departamento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tblEstadosCasos.Nombre_Estado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tblJuzgados.Juzgado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tblMunicipios.Municipio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Titulo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Numero_Caso)
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.Fecha_Inicio)*@
                                @item.Fecha_Inicio.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha_Audiencia)
                            </td>
                            <td>
                                @item.Fecha_Agregado.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @Html.ActionLink(" ", "Edit", new { id = item.Id_Caso }, new { @class = "fa fa-edit btn bg-teal " }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id_Caso }, new { @class = "fa fa-folder-open btn bg-navy " }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id_Caso }, new { @class = "fa fa-trash btn bg-red " })
                                @*<a class="fa fa-history btn bg-gray" href="~/tblHistorials/Index"></a>*@
                                @Html.ActionLink("asdsa ", "Index", "tblHistorials", new { id = item.Id_Caso }, new{@class= "fa fa-history btn bg-gray" })
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</div>


