@model IEnumerable<testuser.Models.SysModel.tblAfavorde>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-blue-gradient shadow">
            <span class="info-box-icon"><i class="fa fa-users"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">A favor de</span>
                <span class="info-box-number">@ViewBag.af</span>

                <div class="progress">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
                <span class="progress-description">
                    Total de otorgantes
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
</div>

<div class="col-xs-12 col-md-12">
    <div class="row">
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title text-info"><strong>Listado de "A favor de" </strong></h4>
                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="buscar" class="form-control pull-right" placeholder="Search">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body table-responsive">
                <p>
                    @Html.ActionLink("Nuevo Registro", "Create",new { }, new { @class="btn bg-navy"})
                </p>
                <table class="table table-condensed table-hover">
                    <tr>
                        <th>
                            @*@Html.DisplayNameFor(model => model.nombres)*@
                            Nombre completo
                        </th>
                        @*<th>
                    @Html.DisplayNameFor(model => model.apellidos)
                </th>*@
                        <th>
                            @*@Html.DisplayNameFor(model => model.redsocial)*@
                            Red social
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.telefono)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.correo)
                        </th>
                        @*<th>
                    @Html.DisplayNameFor(model => model.fechanacimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lugarnacimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.municipio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.departamento)
                </th>*@
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombres)
                                @Html.DisplayFor(modelItem => item.apellidos)
                            </td>
                            @*<td>
                        @Html.DisplayFor(modelItem => item.apellidos)
                    </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.redsocial)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.correo)
                            </td>
                            @*<td>
                        @Html.DisplayFor(modelItem => item.fechanacimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lugarnacimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.municipio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.departamento)
                    </td>*@
                            <td>
                                @Html.ActionLink(" ", "Edit", new { id = item.idfavorde }, new { @class = "fa fa-edit btn bg-orange" }) |
                                @Html.ActionLink(" ", "Details", new { id = item.idfavorde }, new { @class = "fa fa-folder-open btn bg-navy " }) |
                                @Html.ActionLink(" ", "Delete", new { id = item.idfavorde }, new { @class = "fa fa-trash btn bg-red " })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
