@model testuser.Models.SysModel.tblJuzgados

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="box box-primary">
            <div class="box-header" align="left">
                <h4 class="box-title text-info"><strong>¿Esta seguro de eliminar esta informacion?</strong></h4>
            </div>

            <div class="box-body">

                <div>
                    <hr style="margin-top:-10px;" />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.tblDepartamentos.Departamento)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tblDepartamentos.Departamento)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.tblMunicipios.Municipio)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tblMunicipios.Municipio)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Juzgado)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Juzgado)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.telefono)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.telefono)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.correo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.correo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.direccion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.direccion)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color col-lg-offset-2">
                            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                            @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
