@model testuser.Models.SysModel.tblJuzgados

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblJuzgados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblDepartamentos.Departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblDepartamentos.Departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblMunicipios.Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblMunicipios.Municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Juzgado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Juzgado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Juzgado }) |
    @Html.ActionLink("Back to List", "Index")
</p>
