
@using Microsoft.AspNet.Identity
@{

    var NotiEventos = testuser.ViewModels.calendarView.Calendar();
}

<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
<li class="dropdown notifications-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">

        <i class="glyphicon glyphicon-map-marker" style="font-size:18px;">
        </i>

        <span class="label label-info" style="font-family:'Century Gothic', Times, serif; font-size:13px;">
            @NotiEventos.Count()
        </span>

    </a>
    <ul class="dropdown-menu">

        @if (NotiEventos.Count() > 0)
        {
            <li class="header text-bold">Tienes @NotiEventos.Count() Eventos</li>
        }
        else
        {
            <li class="header text-bold">Tienes 0 Eventos</li>

        }

        <li>
            <ul class="menu" id="">

                @foreach (var item in NotiEventos)
                {
                    <li>
                        <a style="font-size:12px;">
                            <i class="fa fa-bus text-aqua"></i>
                            @if (item.dias == 0)
                            {
                                <label>
                                    Evento de hoy: @item.TituloEvento
                                </label>
                            }
                            else
                            {
                                <label>
                                    Restan @item.dias dias para el proximo evento: <br />
                                    @item.TituloEvento
                                </label>
                            }
                        </a>
                    </li>
                }
            </ul>
        </li>
        @*<li class="footer">
                @Html.ActionLink("Ver todas", "VerNotificaciones", "Manage")
            </li>*@
    </ul>
</li>