@using Microsoft.AspNet.Identity

@*@{
       if (Session["ImagenPerfil"] == null)
       {
           Response.Redirect("/Account/Login", false);
       }
       var imagen = Convert.ToString(Session["ImagenPerfil"]);
    }*@
<style>
    .skin-blue .main-header .navbar {
        background-color: #001a35;
    }
    .skin-blue .main-header .logo {
        background-color: #001a35;
    }
        .skin-blue .main-header .logo:hover {
            background-color: #A38882;
            /*background-color: #DE4D3A;*/
        }

</style>

@{
    var usuario = testuser.ViewModels.FuncionesEstaticas.ObtenerHeader(User.Identity.GetUserId());
}
<header class="main-header">
    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "Home")" class="logo">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><b>AC</b></span>
        @* Logo for regular state and mobile devices *@
        <span class="logo-lg"><b>Abogados </b>Corp</span>
    </a>
    @* END Logo *@
    @* BEGIN Header *@
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!---->
                @Html.Partial("_Audiencias")
                @Html.Partial("_Cumpleanios")
                @Html.Partial("_Notificaciones")
                <!---->
                @* BEGIN User Account Menu *@
                @if (Request.IsAuthenticated)
                {
                    <li class="dropdown user user-menu">
                        @*@Html.Partial("_LoginPartial")*@
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            @if (usuario.Imagen != "")
                            {
                                <img src="@Url.Content(usuario.Imagen)" class="user-image" alt="User Image">
                            }
                            <span class="hidden-xs">@usuario.Nombre</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header" style="background-color:#001a35;">
                                @if (usuario.Imagen != "")
                                {
                                    <img src="@Url.Content(usuario.Imagen)" class="img-circle" alt="User Image">

                                }
                                <p>
                                    @User.Identity.GetUserName()
                                    <small>Miembro desde @usuario.FechaRegistro</small>
                                </p>
                            </li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <li class="user-footer">
                                    <div class="pull-left">
                                        @*<a href="#" class="btn btn-default btn-flat">Perfil</a>*@
                                        @Html.ActionLink("Perfil", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-flat", title = "Manage" })
                                    </div>
                                    <div class="pull-right">
                                        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Cerrar Sesión</a>
                                    </div>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @* END User Account Menu *@
            </ul>
        </div>
    </nav>
</header>