@model testuser.Models.SysModel.tblEditables

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .shadow {
        -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.40);
        -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.40);
        box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.40);
    }
</style>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="box box-primary shadow">
            <div class="box-header" align="left">
                <h4 class="box-title text-info"><strong>¿Esta seguro de eliminar esta informacion?</strong></h4>
            </div>

            <div class="box-body">

                <div>
                    <hr style="margin-top:-10px;" />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.fecha)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.fecha)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.entidad)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.entidad)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.instrumento)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.instrumento)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.documento)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.documento)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.tipo_documento)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tipo_documento)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.img)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.img)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.descripcion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.descripcion)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                    <div class="form-actions no-color col-lg-offset-2">
                        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                        @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
                    </div>
                    }
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
