@model IEnumerable<testuser.Models.SysModel.tblEditables>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-offset-1 col-xs-12 col-md-10">
    <div class="row">
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title text-info"><strong>Categorias de Casos </strong></h4>
                <div class="box-tools">
                    @*<div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="buscar" class="form-control pull-right" placeholder="Search">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="box-body table-responsive">
                <p>
                    @Html.ActionLink("Nuevo registro", "Create", new { }, new { @class = "btn bg-navy" })
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.fecha)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.entidad)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.instrumento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.documento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tipo_documento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.img)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.descripcion)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.fecha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.entidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.instrumento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.documento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tipo_documento)
                            </td>
                            <td>
                                <a href="@Html.DisplayFor(modelItem => item.img)" class="btn bg-green fa fa-eye" target="_blank"></a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.descripcion)
                            </td>
                            <td>
                                @Html.ActionLink(" ", "Edit", new { id = item.idEditable }, new { @class = "fa fa-edit btn bg-teal" }) |

                                @Html.ActionLink(" ", "Details", new { id = item.idEditable }, new { @class = "fa fa-folder-open btn bg-navy" }) |

                                @Html.ActionLink(" ", "Delete", new { id = item.idEditable }, new { @class = "fa fa-trash btn bg-red" })

                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>