@model IEnumerable<testuser.Models.SysModel.tblEditables>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instrumento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.entidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instrumento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.img)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idEditable }) |
            @Html.ActionLink("Details", "Details", new { id=item.idEditable }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idEditable })
        </td>
    </tr>
}

</table>
