@model testuser.Models.SysModel.tblLibros

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .shadow {
        -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.40);
        -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.40);
        box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.40);
    }
</style>

<div class="row" >
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="box box-primary shadow">
            <div class="box-header">
                <h4 class="box-title text-info"><strong>Registro de "Libros"</strong></h4>
            </div>

            <div class="box-body">
                @using (Html.BeginForm("Create", "tblLibros", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <hr style="margin-top:-10px;" />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <!--tipo de documento agregar aqui abajo-->
                            @Html.LabelFor(model => model.instrumento, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.instrumento, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.instrumento, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.folios, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.folios, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.folios, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.libro, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.libro, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.libro, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.img, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.img, new { htmlAttributes = new { type="file" } })
                                @Html.ValidationMessageFor(model => model.img, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.idotorgante, "Otorgante", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.DropDownList("idotorgante", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.idotorgante, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.idfavorde, "A/F", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.DropDownList("idfavorde", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.idfavorde, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.id_Personal, "Personal", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                @Html.DropDownList("id_Personal", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.id_Personal, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-10">
                                <input type="submit" value="Guardar" class="btn btn-primary" />
                                @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
