@model IEnumerable<testuser.Models.SysModel.tblLibros>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/datatables.min.css" rel="stylesheet" />
<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
<script src="~/Content/datatables.min.js"></script>

<style>
    .shadow {
        -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.40);
        -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.40);
        box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.40);
    }

    .dataTables_length {
        margin-left: 2%;
    }

    .dataTables_filter {
        margin-right: 5%;
    }

    .dataTables_filter {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .skin-blue .sidebar-menu > li.active > a {
        border-left-color: #DE4D3A;
    }

    .box.box-info {
        /*border-top-color: #021a89;
        background-color: #FFA87E;*/
    }
</style>

<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-blue-gradient shadow">
            <span class="info-box-icon"><i class="fa fa-book"></i></span>

            <div class="info-box-content">
                <span class="info-box-text"><strong>Libros</strong></span>
                <span class="info-box-number">@ViewBag.lb</span>

                <div class="progress">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
                <span class="progress-description">
                    Total registrados
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
</div>

@{
    if (User.IsInRole("Administrador") || User.IsInRole("Notario") || User.IsInRole("Observador"))
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-info shadow">
                    <div class="box-header">
                        <h4 class="box-title text-info"><strong>Listado de "Libros" </strong></h4>
                    </div>
                    <div class="box-body table-responsive">

                        @{
                            if (User.IsInRole("Administrador") || User.IsInRole("Notario"))
                            {
                                <p>
                                    @Html.ActionLink("Nuevo registro", "Create", new { }, new { @class = "btn bg-navy" })
                                    @*<a href="../tblAfavorde/Index" class="btn bg-navy">A/F</a>*@
                                    @*<a href="../TblOtorgante/Index" class="btn bg-navy">Otorgantes</a>*@
                                </p>
                            }
                            else
                            {

                            }
                        }
                        <table class="table table-striped table-condensed" id="dtTable">
                            <thead>

                                <tr>
                                    <th>
                                        No.
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.fecha)
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.tblAfavorde.nombres)*@
                                        Otorgante
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.tblOtorgante.nombres)*@
                                        A favor de
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.tblPersonal.Nombres)*@
                                        Notario
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.instrumento)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.folios)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.libro)
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.correlativo)*@
                                        N° Instrumento
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.img)*@
                                        PDF
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.word)*@
                                        WORD
                                    </th>
                                    <th>Acciones</th>
                                </tr>

                            </thead>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.idlibros)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fecha)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tblOtorgante.nombres)
                                        @Html.DisplayFor(modelItem => item.tblOtorgante.apellidos)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tblAfavorde.nombres)
                                        @Html.DisplayFor(modelItem => item.tblAfavorde.apellidos)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tblPersonal.Nombres)
                                        @Html.DisplayFor(modelItem => item.tblPersonal.Apellidos)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.instrumento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.folios)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.libro)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.correlativo)
                                    </td>
                                    <td>
                                        <a href="@Html.DisplayFor(modelItem => item.img)" class="btn bg-red-active fa fa-file-pdf-o" target="_blank"></a>
                                    </td>
                                    <td>
                                        <a href="@Html.DisplayFor(modelItem => item.word)" class="btn bg-primary fa fa-file-word-o" target="_blank"></a>
                                    </td>
                                    <td>
                                        @{
                                            if (User.IsInRole("Administrador"))
                                            {
                                                @Html.ActionLink(" ", "Edit", new { id = item.idlibros }, new { @class = "fa fa-edit btn bg-teal", style = "margin-right:4px;" })
                                                @Html.ActionLink(" ", "Details", new { id = item.idlibros }, new { @class = "fa fa-folder-open btn bg-navy ", style = "margin-right:4px;" })
                                                @Html.ActionLink(" ", "Delete", new { id = item.idlibros }, new { @class = "fa fa-trash btn bg-red ", style = "margin-right:4px;" })
                                            }
                                            if (User.IsInRole("Notario"))
                                            {
                                                @Html.ActionLink(" ", "Edit", new { id = item.idlibros }, new { @class = "fa fa-edit btn bg-teal", style = "margin-right:4px;" })
                                                @Html.ActionLink(" ", "Details", new { id = item.idlibros }, new { @class = "fa fa-folder-open btn bg-navy " })
                                            }
                                            if (User.IsInRole("Observador"))
                                            {
                                                @Html.ActionLink(" ", "Details", new { id = item.idlibros }, new { @class = "fa fa-folder-open btn bg-navy " })
                                            }
                                        }


                                    </td>
                                </tr>
                            }

                        </table>

                    </div>
                </div>
            </div>
        </div>
    }
    if (User.IsInRole("digitadornotario"))
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-info shadow">
                    <div class="box-header">
                        <h4 class="box-title text-info"><strong>Listado de "Libros" </strong></h4>
                    </div>
                    <div class="box-body table-responsive">

                                <p>
                                    @Html.ActionLink("Nuevo registro", "Create", new { }, new { @class = "btn bg-navy" })
                                    @*<a href="../tblAfavorde/Index" class="btn bg-navy">A/F</a>*@
                                    @*<a href="../TblOtorgante/Index" class="btn bg-navy">Otorgantes</a>*@
                                </p>

                       
                        <table class="table table-striped table-condensed" id="dtTablee">
                            <thead>

                                <tr>
                                    <th>
                                        No.
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.fecha)
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.tblAfavorde.nombres)*@
                                        Otorgante
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.tblOtorgante.nombres)*@
                                        A favor de
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.tblPersonal.Nombres)*@
                                        Notario
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.instrumento)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.folios)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.libro)
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.correlativo)*@
                                        N° Instrumento
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.img)*@
                                        PDF
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.word)*@
                                        WORD
                                    </th>
                                    <th>Acciones</th>
                                </tr>

                            </thead>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.idlibros)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fecha)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tblOtorgante.nombres)
                                        @Html.DisplayFor(modelItem => item.tblOtorgante.apellidos)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tblAfavorde.nombres)
                                        @Html.DisplayFor(modelItem => item.tblAfavorde.apellidos)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tblPersonal.Nombres)
                                        @Html.DisplayFor(modelItem => item.tblPersonal.Apellidos)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.instrumento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.folios)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.libro)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.correlativo)
                                    </td>
                                    <td>
                                        <a href="@Html.DisplayFor(modelItem => item.img)" class="btn bg-red-active fa fa-file-pdf-o" target="_blank"></a>
                                    </td>
                                    <td>
                                        <a href="@Html.DisplayFor(modelItem => item.word)" class="btn bg-primary fa fa-file-word-o" target="_blank"></a>
                                    </td>
                                    <td>
                                        @{
                                                @Html.ActionLink(" ", "Details", new { id = item.idlibros }, new { @class = "fa fa-folder-open btn bg-navy ", style = "margin-right:4px;" })
                                        }


                                    </td>
                                </tr>
                            }

                        </table>

                    </div>
                </div>
            </div>
        </div>
    }
}



<script type="text/javascript">
    $(document).ready(function () {
        var espanol =
        {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Cantidad de registros _MENU_",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }

        };

        $('#dtTable').DataTable({
            responsive: true,
            language: espanol,

            "dom": '<"dt-buttons"Bf><"clear">lirtp',
            "paging": true,
            "autoWidth": true,
            "buttons": [
                'colvis',
                'copyHtml5',
                'csvHtml5',
                'excelHtml5',
                'pdfHtml5',
                'print'
            ]
        });
        $('#dtTablee').DataTable({
            responsive: true,
            language: espanol
        });


    });
</script>


