@model IEnumerable<testuser.Models.SysModel.tblClientes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/datatables.min.css" rel="stylesheet" />
<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
<script src="~/Content/datatables.min.js"></script>

<style>
    .dataTables_length {
        margin-left: 2%;
    }

    .dataTables_filter {
        margin-right: 5%;
    }
</style>

<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-blue-gradient shadow">
            <span class="info-box-icon"><i class="fa fa-users"></i></span>

            <div class="info-box-content">
                <span class="info-box-text"><strong>Clientes</strong></span>
                <span class="info-box-number">@ViewBag.Cliente</span>

                <div class="progress">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
                <span class="progress-description">
                    <strong>Total registrados</strong>
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title text-info"><strong>Listado de "Clientes" </strong></h4>

            </div>
            <div class="box-body table-responsive">
                <p>
                    @Html.ActionLink("Nuevo registro", "Create", new { }, new { @class = "btn bg-navy" })

                </p>
                <table class="table table-hover table-striped" id="dtTable">
                    <thead>

                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.tblEstadosRegistros.Estado)
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Nombres)*@
                            Cliente
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.Apellidos)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.Genero)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha_Nacimiento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Telefono)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Direccion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Correo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha_Agregado)
                        </th>
                        <th>Acciones</th>
                    </tr>

                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <label class="label label-success text-uppercase text-bold" style="font-size:14px;">@Html.DisplayFor(modelItem => item.tblEstadosRegistros.Estado)</label>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombres)
                                @Html.DisplayFor(modelItem => item.Apellidos)
                            </td>
                            @*<td>
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Genero)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha_Nacimiento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Direccion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Correo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha_Agregado)
                            </td>
                            <td>
                                @Html.ActionLink(" ", "Edit", new { id = item.Id_Cliente }, new { @class = "fa fa-edit btn bg-teal" }) |
                                @Html.ActionLink(" ", "Details", new { id = item.Id_Cliente }, new { @class = "fa fa-folder-open btn bg-navy " }) |
                                @Html.ActionLink(" ", "Delete", new { id = item.Id_Cliente }, new { @class = "fa fa-trash btn bg-red " })
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var espanol =
        {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Cantidad de registros _MENU_",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }

        };

        $('#dtTable').DataTable({
            responsive: true,
            language: espanol,
        });


    });
</script>
