@model testuser.Models.SysModel.tblHistorial

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .shadow {
        -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.40);
        -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.40);
        box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.40);
    }
</style>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="box box-primary shadow">
            <div class="box-header" align="left">
                <h4 class="box-title text-info"><strong>Detalles de Categoria de Casos</strong></h4>
            </div>

            <div class="box-body">
                <div>
                    <hr style="margin-top:-10px;" />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.tblCasos.Numero_Caso)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.tblCasos.Numero_Caso)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Fecha_Inicio)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Fecha_Inicio)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Fecha_Final)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Fecha_Final)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Descripcion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Archivo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Archivo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Fecha_Agregado)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Fecha_Agregado)
                        </dd>

                    </dl>
                </div>
                <p class="col-lg-offset-2">
                    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Historial }, new { @class = "btn bg-orange" }) |
                    @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
